@model IEnumerable<TodoListApp.WebApi.Models.TaskModel>
<head>
    <link rel="stylesheet" href="~/css/Task.css" />
</head>

<div class="Task-container-big">
    @foreach (var task in Model)
    {
        <div class="Task-container" style="@(task.Status.Equals(TodoListApp.WebApi.Models.TaskStatus.Completed) ?
                        "background-color: 4CCD99;" : (task.Status.Equals(TodoListApp.WebApi.Models.TaskStatus.InProgress) ?
                            "background-color: FFF455;" :  ((task.DueDate < DateTime.Today) ? "Background-color: F2613F;" : "Background-color: White;")))">
            @if (task.DueDate < DateTime.Today)
            {
                <div class="overdue-tag">Overdue</div>
            }
            <div class="prop">@task.Title</div>
            <div class="prop"> Due: @task.DueDate.ToString("HH:mm")</div>
            <div class="actions">
                <form id="deleteForm_@task.Id" method="post" action="@Url.Action("DeleteTask", "Home")">
                    <input type="hidden" name="taskId" value="@task.Id" />
                    <button class="delete" type="submit">Delete</button>
                </form>


                <form method="post" action="@Url.Action("EditTask", "Home")">
                    <button class="edit" type="submit">Edit</button>
                </form>


                <form method="post" action="@Url.Action("TodoLists", "Home")">
                    <button class="details" type="submit">Details</button>
                </form>
            </div>
       
            <div class="prop">
                <select class="mySelect">
                    @if (task.Status.Equals(TodoListApp.WebApi.Models.TaskStatus.InProgress))
                    {
                        <option value="option1" selected>In progress</option>
                        <option value="option2">Not started</option>
                        <option value="option3">Completed</option>
                    }
                    else if (task.Status.Equals(TodoListApp.WebApi.Models.TaskStatus.NotStarted))
                    {
                        <option value="option1">In progress</option>
                        <option value="option2" selected>Not started</option>
                        <option value="option3">Completed</option>
                    }
                    else if (task.Status.Equals(TodoListApp.WebApi.Models.TaskStatus.Completed))
                    {
                        <option value="option1">In progress</option>
                        <option value="option2">Not started</option>
                        <option value="option3" selected>Completed</option>
                    }
                </select>
            </div>
        </div>

    }
</div>