@model IEnumerable<TodoListApp.WebApi.Models.TodoListModel>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        // Event listener for the Add Task button click
        $('#addTaskButton0').click(function () {
            $(this).hide();
            $('.add-task-container').toggle();
        });
    });

    $(document).ready(function () {
        // Event listener for the Add TodoList button click
        $('.add-Todobtn').click(function () {
            $('.add-todo-container').toggle();
        });
    });
</script>

<head>
    <link rel="stylesheet" href="~/css/TodoList.css" />
</head>
<body>
    <div class="navbar">
        <div class="LogOut"> LogOut  </div>
        <div class="listName"> My todo  </div>
        <form asp-action="TodoLists" asp-controller="Home" method="get" class="search-form">
            <input type="text" name="searchString" placeholder="Search.." value="@ViewBag.SearchString">
            <button type="submit">Search</button>
        </form>
        <div class="user">
            <div class="Photo"> Photo </div>
            <div class="username"> username  </div>
        </div>
     </div>
    <div class="todo-lists">
        @if (Model == null || !Model.Any())
        {
            <div class="todo-list">
                <div class="header">
                    <h1>No To do List</h1>
                </div>
            </div>
        }
        else
        {
            @foreach (var todoList in Model)
            {
                <div class="todo-list">
                    <div class="header">
                        <h1>@todoList.Title</h1>
                        <div class="ListActions">
                            <form id="deletebtnForm" method="post" asp-action="DeleteTodoList">
                                <input type="hidden" name="todoListId" value="@todoList.Id" />
                                <button class="deletebtn" type="submit">Delete List</button>
                            </form>
                            <form id="editButtonForm" method="post" asp-action="DeleteTodoList">
                                <input type="hidden" name="todoListId" value="@todoList.Id" />
                                <button class="editList" type="submit">Edit List</button>
                            </form>
                        </div> 

                    </div>
                    @Html.Partial("Task", todoList.Tasks)

                    <div class="addTask">
                        <button id="addTaskButton0" class="btn btn-primary">Add Task</button>
                        @using (Html.BeginForm("AddTask", "Home", FormMethod.Post))
                        {
                            @Html.Hidden("todoListId", todoList.Id)

                            <div class="add-task-container">
                                <form method="post" asp-action="AddTask">
                                    <input type="hidden" name="listId" value="@todoList.Id">

                                    <div class="form-group">
                                        <label>Title:</label>
                                        <input name="Title" class="form-control" required />
                                        <span class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label>Description:</label>
                                        <input name="Description" class="form-control" required />
                                        <span class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label>Due Date:</label>
                                        <input name="DueDate" type="datetime-local" class="form-control" required />
                                        <span class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label>Tags:</label>
                                        <input name="Tags" class="form-control" required />
                                        <span class="text-danger"></span>
                                    </div>

                                    <div class="addTaskButton">
                                        <button type="submit" class="btn btn-primary">Add Task</button>
                                    </div>
                                </form>
                            </div>
                        }
                    </div>
                </div>
            }
        }
    </div>
    <div class="addTodo">

        <div class="add-Todo">
            <button class="add-Todobtn" name="addListButton" formmethod="post" formaction="@Url.Action("ToggleAddTaskForm", "Home")">Add TodoList</button>
        </div>

        @using (Html.BeginForm("AddTodo", "Home", FormMethod.Post))
        {

            <div class="add-todo-container" style="display: non">
                <form method="post" asp-action="AddTask">
                    <input type="hidden" name="listId" >

                    <div class="form-group">
                        <label>Title:</label>
                        <input name="Title" class="form-control" required />
                        <span class="text-danger"></span>
                    </div>

                    <div class="addTodoButton">
                        <button type="submit" class="btn btn-primary">Add List</button>
                    </div>
                </form>
            </div>
        }
    </div>
</body>