@model IEnumerable<TodoListApp.WebApi.Models.TodoListModel>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        // Event listener for the Details button click
        $(document).on('click', '.detailsButton', function (e) {
            e.preventDefault();
            var detailsContainerId = $(this).data('details-container-id');
            $('#' + detailsContainerId).toggle();
        });

        // Event listener for the Edit Task button click
        $(document).on('click', '.editTaskButton', function (e) {
            e.preventDefault();
            var editContainerId = $(this).data('edit-container-id');
            $('#' + editContainerId).toggle();
        });

        // Event listener for the Comments button click
        $('.commentsButton').click(function (e) {
            e.preventDefault();
            window.location.href = '/Home/Comments';
        });

        // Event listener for task status change
        $(document).on('change', '.mySelect', function () {
            var taskId = $(this).data('task-id');
            var newStatus = $(this).val();
            updateTaskStatus(taskId, newStatus);
        });

        $(document).on('click', '.addTaskButton', function () {
            var todoListId = $(this).data('todo-list-id');
            $('.add-task-container[data-todo-list-id="' + todoListId + '"]').toggle();
        });

        $(document).on('click', '.editList', function (e) {
            e.preventDefault();
            $('.editTodo-Container').toggle();
        });


        $('.add-Todobtn').click(function () {
            $('.add-todo-container').toggle();
        });

        $('#searchForm').submit(function (e) {
            e.preventDefault(); // Prevent default form submission
            var searchString = $(this).find('input[name="searchString"]').val(); // Get search string
            var url = $(this).attr('action') + '?searchString=' + searchString; // Construct URL with search string
            // Use AJAX to submit the form data and update the content
            $.get(url, function (data) {
                $('.todo-lists').html(data); // Update content with response data
            }).fail(function (xhr, status, error) {
                console.error(error);
            });
        });
    });

    function updateTaskStatus(taskId, newStatus) {
        $.ajax({
            url: '@Url.Action("UpdateTaskStatus", "Home")',
            type: 'POST',
            data: {
                taskId: taskId,
                newStatus: newStatus
            },
            success: function (data) {
                console.log("Task status updated successfully");
                window.location.href = '@Url.Action("TodoLists", "Home")';
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }
</script>


<head>
    <link rel="stylesheet" href="~/css/TodoList.css" />
</head>
<body>
    <div class="navbar">
        <div class="LogOut"> LogOut  </div>
        <div class="listName"> My todo  </div>
        <form asp-action="TodoLists" asp-controller="Home" method="get" class="search-form">
            <input type="text" name="searchString" placeholder="Search with name.." value="@ViewBag.SearchString">
            <button type="submit">S</button>
        </form>
        <div class="user">
            <div class="Photo"> Photo </div>
            <div class="username"> username  </div>
        </div>
     </div>
    <div class="todo-lists">
        @if (Model == null || !Model.Any())
        {
            <div class="todo-list">
                <div class="header">
                    <h1>No To do List</h1>
                </div>
            </div>
        }
        else
        {
            @foreach (var todoList in Model)
            {
                <div class="todo-list">
                    <div class="header">
                        <h1>@todoList.Title</h1>
                        <div class="ListActions">
                            <form id="deletebtnForm" method="post" asp-action="DeleteTodoList">
                                <input type="hidden" name="todoListId" value="@todoList.Id" />
                                <button class="deletebtn" type="submit">Delete List</button>
                            </form>

                            <button class="editList" type="submit">Edit List</button>

                        </div> 

                    </div>

                    <div class="editTodo-Container" style="display: none">
                        @using (Html.BeginForm("EditList", "Home", FormMethod.Post))
                        {
                            <div class="edit-todo-container">
                                <input type="hidden" name="Id" value="@todoList.Id">

                                <div class="form-group">
                                    <label>Title:</label>
                                    <input name="newTitle" class="form-control" value="@todoList.Title" required />
                                    <span class="text-danger"></span>
                                </div>

                                <div class="editTodoButton">
                                    <button type="submit" class="btn btn-primary">Edit List</button>
                                </div>
                            </div>
                        }
                    </div>


                    @if (string.IsNullOrEmpty(ViewBag.SearchString) || todoList.Tasks.Any(task => task.Title.Contains(ViewBag.SearchString)))
                    {
                        @Html.Partial("Task", todoList.Tasks.Where(task => string.IsNullOrEmpty(ViewBag.SearchString) || task.Title.Contains(ViewBag.SearchString)))
                    }
                    else
                    {
                        <div class="no-task-found">
                            <p>No tasks found matching the search criteria.</p>
                        </div>
                    }

                    <div class="addTaskBtn">
                        <button class="addTaskButton btn btn-primary" data-todo-list-id="@todoList.Id">Add Task</button>
                    </div>

                    <div class="addTask">
                        @using (Html.BeginForm("AddTask", "Home", FormMethod.Post))
                        {
                            @Html.Hidden("todoListId", todoList.Id)

                            <div class="add-task-container" data-todo-list-id="@todoList.Id" style="display: none;">
                                <form method="post" asp-action="AddTask">
                                    <input type="hidden" name="listId" value="@todoList.Id">

                                    <div class="form-group">
                                        <label>Title:</label>
                                        <input name="Title" class="form-control" required />
                                        <span class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label>Description:</label>
                                        <input name="Description" class="form-control" required />
                                        <span class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label>Due Date:</label>
                                        <input name="DueDate" type="datetime-local" class="form-control" required />
                                        <span class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label>Tags:</label>
                                        <input name="Tags" class="form-control" required />
                                        <span class="text-danger"></span>
                                    </div>

                                    <div class="addTaskButton">
                                        <button type="submit" class="btn btn-primary">Add Task</button>
                                    </div>
                                </form>
                            </div>
                        }
                    </div>
                </div>
            }
        }
    </div>
    <div class="addTodo">

        <div class="add-Todo">
            <button class="add-Todobtn" name="addListButton" formmethod="post" formaction="@Url.Action("ToggleAddTaskForm", "Home")">Add TodoList</button>
        </div>

        @using (Html.BeginForm("AddTodo", "Home", FormMethod.Post))
        {

            <div class="add-todo-container" style="display: non">
                <form method="post" asp-action="AddTask">
                    <input type="hidden" name="listId" >

                    <div class="form-group">
                        <label>Title:</label>
                        <input name="Title" class="form-control" required />
                        <span class="text-danger"></span>
                    </div>

                    <div class="addTodoButton">
                        <button type="submit" class="btn btn-primary">Add List</button>
                    </div>
                </form>
            </div>
        }
    </div>
</body>